*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}
.navbar img{
    object-fit: contain;
    width: 150px;
}
.nav-menu{
     display: flex;
    justify-content: space-between;
    gap: 25px;
    list-style-type: none;
    align-items: center;
    
}
.nav-menu a{
    text-decoration: none;
}


.select-btn{
    display: flex;
    height: 55px;
    background: #fff;
    /* padding: 20px; */
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
   
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
    margin-right: 50px;
}
.select-btn:hover{
    color:black;
}
.select-btn2:hover{
    color:black;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.sBtn-text{
    font-size: 15px;
    margin-left: 50px;
    
}
.sBtn-text:hover{
    color:black;
    
}

 .options{
    position: absolute; 
    padding: 20px;
    margin-right: -100px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 35px rgba(0,0,0,0.1);
    display: none;
    align-items: flex-end;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 30px;
    cursor: pointer;
    /* padding: 0 16px; */
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #F2F2F2;
}
.option img{
    /* font-size: 15px; */
    margin-right: 10px;
}

.option .option-text{
    font-size: 15px;
    color: #333;
    padding-top: 5px;
}

.hamburger{
    display: none;
    cursor:pointer;
}

.bar{
    display: block;
    width:25px;
    height:3px;
    height:3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
    background-color: rgb(255, 255, 255);
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform:translateY(-8px) rotate(-45deg);
    }
     /* .nav-menu{
        position: fixed;
        right:-100%;
        top:70px;
        gap: 0;
        flex-direction: column;
        background-color: #555050;
        width: 75%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin:16px 0;
    }
    .nav-menu.active{
        right:0;
    }  */
}