@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

/* font-family: 'Epilogue', sans-serif; */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    
}

.leftnav img {
    width: 100px;
    /* padding-right:10px; */
    /* margin-right: 50px; */
    padding-top: 5px;
}
nav {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* height:250px; */
    
    color: black(255, 255, 255);
    font-family: 'Fira Sans', sans-serif;
}
.leftnav{
    display: flex;
    align-items: center;
    margin-left:50px;
    color: #ADADAD;
    
}

.leftnav a{
    font-size: 15px;
    font-weight: 500;
   align-items: center;
    padding-left: 10px;
    text-decoration: none;
    color:black;
    margin-right:50px;
}
.rightnav{
display: flex;
align-items: center;
margin-right:100px;
}
.rightnav button{
    font-family: 'Fira Sans', sans-serif;
    color: black;
    margin-left: 10px;
    padding: 10px;
    border-radius: 12px;
    font-size: 15px;
    font-weight:2em;
    cursor:pointer;
} 


.select-btn{
    display: flex;
    height: 55px;
    background: #fff;
    /* padding: 20px; */
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
   
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
    margin-right: 50px;
}
.select-btn:hover{
    color:black;
}
.select-btn2:hover{
    color:black;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.sBtn-text{
    font-size: 15px;
    margin-left: 50px;
    
}
.sBtn-text:hover{
    color:black;
    
}

 .options{
    position: absolute; 
    padding: 20px;
    margin-right: -100px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 35px rgba(0,0,0,0.1);
    display: none;
    align-items: flex-end;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 30px;
    cursor: pointer;
    /* padding: 0 16px; */
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #F2F2F2;
}
.option img{
    /* font-size: 15px; */
    margin-right: 10px;
}

.option .option-text{
    font-size: 15px;
    color: #333;
    padding-top: 5px;
}

.select-btn2{
    display: flex;
    height: 55px;
    background: #fff;
    /* padding: 20px; */
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
   
}
.select-btn2 i{
    font-size: 25px;
    transition: 0.3s;
    margin-right: 50px;
}
.select-menu2.active2 .select-btn2 i{
    transform: rotate(-180deg);
}
.sBtn-text2{
    font-size: 15px;
}
 .options2{
    position: absolute; 
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 35px rgba(0,0,0,0.1);
    display: none;
    align-items: flex-end;
}
.select-menu2.active2 .options2{
    display: block;
}
.options2 .option2{
    display: flex;
    height: 30px;
    cursor: pointer;
    /* padding: 0 16px; */
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options2 .option2:hover{
    background: #F2F2F2;
}
.option2 img{
    /* font-size: 15px; */
    margin-right: 10px;
}

.option2 .option-text2{
    font-size: 15px;
    color: #333;
    padding-top: 5px;
}
main {
    display: flex;
    /* width:1050px; */
    justify-content: space-between;
    margin-left:175px;
    margin-right: 175px;
    margin-top: 100px;
}
.left-elem{
    width: 500px;
}
.left-elem h1{
    font-size:75px;
}
.left-elem p{
    width:400px;
    margin-top: 50px;
    line-height: 1.6;
    color: #ADADAD;
}
.left-elem button{
    /* border:solid 0.5px; */
    background-color:black;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 150px;
}
.left-elem button:hover{
    background-color: white;
    color: black;
}
.right-elem img{
    width:500px;
}
.left-elem .clients{
    display: flex;
    justify-content: space-between;
    
}
.left-elem .clients img{
    object-fit: contain;
}

