@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

/* font-family: 'Epilogue', sans-serif; */

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    
}

.leftnav img {
    width: 100px;
    padding-right:10px;
    padding-top: 5px;
}
nav {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* height:250px; */
    
    color: black(255, 255, 255);
    font-family: 'Fira Sans', sans-serif;
}
.leftnav{
    display: flex;
    align-items: center;
    margin-left:50px;
    
}
.leftnav a{
    font-size: 15px;
    font-weight: 500;
   align-items: center;
    padding-left: 10px;
    text-decoration: none;
    color:black;
}
.rightnav{
display: flex;
align-items: center;
margin-right:100px;
}
.rightnav button{
    font-family: 'Fira Sans', sans-serif;
    color: black;
    margin-left: 10px;
    padding: 10px;
    border-radius: 12px;
    font-size: 15px;
    font-weight:2em;
} 


.select-btn{
    display: flex;
    height: 55px;
    background: #fff;
    /* padding: 20px; */
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
   
}
.select-btn i{
    font-size: 25px;
    transition: 0.3s;
}
.select-menu.active .select-btn i{
    transform: rotate(-180deg);
}
.sBtn-text{
    font-size: 15px;
}
 .options{
    position: absolute; 
    padding: 20px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    display: none;
    align-items: flex-end;
}
.select-menu.active .options{
    display: block;
}
.options .option{
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}
.options .option:hover{
    background: #F2F2F2;
}
/* .option img{
    font-size: 25px;
    margin-right: 12px;
} */
.option .option-text{
    font-size: 18px;
    color: #333;
}
